<launch>
  <param name="robot_description" textfile="$(find xycar_slam)/urdf/xycar.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="stanley" pkg="xycar_slam" type="stanley_follower.py"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find xycar_slam)/rviz/localization.rviz"/>
  <include file="$(find xycar_lidar)/launch/lidar_noviewer.launch"/>
  <include file="$(find xycar_imu)/launch/xycar_imu_9dof_noviewer.launch"/>
  <include file="$(find xycar_motor)/launch/xycar_motor.launch"/>
  
  <node name="cartographer_node" type="cartographer_node" pkg="cartographer_ros" args="
	-configuration_directory $(find xycar_slam)/config 
	-configuration_basename localization_lim7.lua
	-load_state_filename $(find xycar_slam)/maps/final_map.pbstream"/>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05"/>
  <node name="record" pkg="rosbag" type="record" args="-O $(find xycar_slam)/bag/track3.bag /tracked_pose"/>
</launch>
